#row1 {
    display: flex;
    justify-content: center;
}

#row1 > * {
    margin-left: 5px;
    margin-right: 5px;
}

#row2 {
    justify-items: center;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#chartDiv {
    width: 75%;
    justify-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#stocksTable {
    width: 40%;
    border-collapse: collapse;
}

#stocksTable,
#headerRow,
#headerRow > th,
#topStocks > tr > * {
    border: solid;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(176, 205, 231);
    margin: 3px;
}

#topStocks > * {
    text-align: center;
    margin: 10px;
}

.stocksIcon {
    width: 25%;
    height: auto;
}

.roundButton {
    background-color: #ffdeda;
    border: 2px solid #111;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .roundButton:hover {
    background-color: #fff;
  }
  
  .roundButton:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .roundButton {
      min-width: 120px;
      padding: 0 25px;
    }
  }