#header {
    display: flex;
    justify-content: space-evenly;
}


body {
    background-color: rgb(254, 240, 221);
    padding: 10px;
}

nav {
    margin: auto;
    width: 75%;
    margin-bottom: 20px;
}


#quoteBox {
    display: grid;
    border-style: solid;
    width: 50%;
    padding: 5px;
    border-width: 2px;
    border-radius: 4px;
    background-color: rgb(244, 212, 167);
}

#quoteBox > * {
    margin: auto;
    padding: 5px;
}

.centered {
    justify-self: center;
    margin: auto;
}

.centeredText {
    text-align: center;
}


#audio {
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 4px;
    width: 50%;
    margin-top: 40px;
    padding: 20px;
    background-color: rgb(44, 155, 44);
    color: white;
}

#audio-buttons {
    display: flex;
    justify-content: space-evenly;
}

#row1 {
    display: flex;
    justify-content: center;
}

#row1 > * {
    margin-left: 5px;
    margin-right: 5px;
}

#row2 {
    justify-items: center;
    padding: 10px;
    margin-top: 40px;
    margin-bottom: 20px;
    text-align: center;
}

#chartDiv {
    width: 75%;
    justify-items: center;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#stocksTable {
    width: 40%;
    border-collapse: collapse;
}

#stocksTable,
#headerRow,
#headerRow > th,
#topStocks > tr > * {
    border: solid;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(176, 205, 231);
    margin: 3px;
}

#topStocks > * {
    text-align: center;
    margin: 10px;
}

.stocksIcon {
    width: 25%;
    height: auto;
}


.stylish-button {
    align-items: center;
    background-color: #fee6e3;
    border: 2px solid #111;
    border-radius: 8px;
    box-sizing: border-box;
    color: #111;
    cursor: pointer;
    display: flex;
    font-family: Inter,sans-serif;
    font-size: 16px;
    height: 48px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100px;
    }

.stylish-button:after {
    background-color: #111;
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
}

.stylish-button:hover:after {
    transform: translate(0, 0);
}

.stylish-button:active {
    background-color: #ffdeda;
    outline: 0;
}

.stylish-button:hover {
    outline: 0;
}

@media (min-width: 768px) {
    .stylish-button {
        padding: 0 40px;
    }
}


.audio-button {
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  border-radius: 7px;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.audio-button:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .audio-button {
    padding: 0.25em 0.75em;
  }
}

#submitStocks {
  background-color: #ffdeda;
  border: 2px solid #111;
  border-radius: 30px;
  box-shadow: #422800 4px 4px 0 0;
  color: #422800;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#submitStocks:hover {
  background-color: #fff;
}

#submitStocks:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  #submitStocks {
    min-width: 120px;
    padding: 0 25px;
  }
}
